@import './Index.scss';
#App {
    @include flex-col-start-center;
    min-height: 100vh;
    nav {
        width: 100vw;
        height: 60px;
        background-color: var(--primary-color);
    }
    main {
        min-height: calc(100vh - 60px);
    }
}